a {
  font-weight: bold;
  color: #008f3d;
}

body {
  background-color: #8fe88b;
}

#outer {
  display: flex;
  flex-flow: column;
}

#content {  
  background: #f3ffe2;
  width: 640px;
  height: 100%;
  margin: auto;
  padding: 0em 1em 0em 1em;
  font-family: 'EB Garamond', serif;
  font-size: large;
  border-radius: 1em;
}