body {
  background-color: #8fe88b;
}

a {
  font-weight: bold;
  color: #008f3d;
}

#outer {
  display: flex;
  flex-flow: column;
}

@media (min-width: 1024px) {
   #content {
    width: 33vw;
   }
}

@media (max-width: 1023px) {
   #content {
    width: 95vw;
   }
}

#content {
  background: #f3ffe2;
  margin: auto;
  padding: 0em 1em 0em 1em;
  font-family: 'EB Garamond', serif;
  font-size: large;
  border-radius: 1em;
}