body {
  background-color: #fff0a5;
  color: #002f2f;
}

h1 {
  color: #046380;
  font-family: "Merriweather", serif;
}

#temp {  
  font-family: "Open Sans", sans-serif;
}

.inline {  
  padding: 0px 15px;
  display: inline-block;
}

.border {
  border: 2px dashed #046380;
  border-radius: 5px;
}
